table,
th {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 15px;
}

th {
    padding: 5px;
}

tr:first-child {
    background-color: rgb(133, 133, 133);
}

tr:nth-child(2n) {
    background-color: rgb(185, 185, 185);
}
